*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 711px 399px);
  align-items: center;
  gap: 30px;
  max-width: 1140px;
  margin-top: 272px;
  margin-bottom: 133px;
}

.result {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  margin-top: 78px;
  margin-bottom: 17px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 3px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-block-start: 1px solid #ffffff;
  border-block-end: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus-visible {
  border-block-start: 1px solid #ffffff;
  border-block-end: 1px solid #ffffff;
  outline: none;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 7px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  align-self: center;
  width: 15px;
  height: 15px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #ffffff;
}

.button {
  min-height: 34px;
  border: 1px solid;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.button:active {
  outline: none;
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 3px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 316px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  margin-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

.content__card-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px solid #ffffff;
  text-underline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 3px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  width: 196px;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 390px;
  margin-top: 30px;
}